<h1>Event n°<%= @event.id %></h1>

<p>Creator is : <%= @the_creator.email %></p>
<p>Location is : <%= @event.location %></p>
<p>Date is : <%= @event.date_event %></p>

<p>Attendees are :</p>
<ul>
<% @all_attendees.each do |a| %>
    <li><%= a.email %></li>
<% end%>
</ul>